body {
  font-family: Arial;
  background: #f5f5f5;
}

.container {
  width: 700px;
  margin: 50px auto;
}

h1 {
  margin-bottom: 20px;
}

.top {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  margin-top: 30px;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
}

li {
  list-style: none;
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}

.task {
  flex: 1;
  margin-left: 10px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.delete {
  color: red;
  cursor: pointer;
  font-size: 18px;
}