body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}
.image{
    /*margin-right:200px;*/
    display: block;
    width: 300px;
    height: auto;
    margin-bottom: 5px;
    margin-left: -28px;
     /*border: 2px solid red;*/
}

.container {
    display: flex;
    width: 950px;
    margin: 120px auto;
    align-items: flex-start;
    justify-content: space-between;
}

/* left side */
.content-left {
    width: 500px;
    padding-bottom: 100px;
     /*border: 2px solid red;*/
}

.content-left h2 {
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    margin-top: -10px;
}

/* log\password card */
.login-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px; /* окргуляем углы*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1); /*ставим тении*/
    width: 350px;
    text-align: center;
}

input {
    width: 90%;
    padding: 14px;
    margin-bottom: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;  /* окргуляем углы*/
    font-size: 17px;
}

/* btns */
.btn-login {
    width: 100%;
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 6px; /* окргуляем углы*/
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.forgot-password {
    display: block;
    margin: 15px 0;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

hr { border: 0.5px solid #dadde1; margin: 20px 0; }

.btn-create {
    background-color: #42b72a;
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.footer {   
    background-color: #fff;
    color: #8a8d91;
    padding: 20px 0;
    margin-top: 150px; 
    width: 100%;
}

.footer-container {
    max-width: 980px;
    margin: 0 auto; 
    font-family: Arial, sans-serif;
}

/* list[language]*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
}

li {
    margin-right: 15px;
    line-height: 1.6;
}

/* links */
a {
    color: #8a8d91;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

hr {
    border: none;
    border-top: 1px solid #dddfe2;
    margin: 10px 0;
}

.copyright {
    margin-top: 20px;
    font-size: 11px;
}
