body, html {
    margin: 0;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    background-color:  #0c1014;
}

.insta-page {
    display: flex;
    height: 100vh;
}

.main-img {
    width: 600px; 
    height: auto;
    display: block;
    margin: 20px auto 0 auto; 
    /* border: 2px solid red; */
}

.image-stack {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.hero {
    flex: 1.2; 
    background-color: #0c1014;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;  
    text-align: center;      
    padding: 20px;
}

.hero-content {
    max-width: 600px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.hero-content h1 {
    font-size: 32px;
    line-height: 1.2;
    margin-top: 30px;
}

.accent {
    color: #fd006f; 
}

.auth {
    flex: 1;
    background-color: #152127; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    width: 500px;
    height: auto;
    text-align: center;
    color: white;
}

.login-title {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #0a131a; 
    border: 1px solid #363636;
    border-radius: 8px;
    color: white;
    box-sizing: border-box; 
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #004a7c; 
    color: #fff;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.forgot {
    display: block;
    margin: 20px 0;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.social-btn {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 1px solid #363636;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.meta-brand {
    margin-top: 30px;
    opacity: 0.6;
    font-size: 14px;
}

.logo{

    margin-right: 700px;
    width:60px;
}
.footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    color: gray;
    text-decoration: None;
    font-size: 12px;
    text-align: center;
}
.footer a{
    color: gray;
    text-decoration: None;
    margin: 8px;
    font-size: 12px;
}
.footer-links {
    margin: 10px;
}